$font-family:    Helvetica, sans-serif;
$primary-color: #453015;
$bg-color: #fff;

body {
  font: 100% $font-family;
  color: $primary-color;
  background-color: $bg-color;
  text-align: center;
  margin-top: 20px;
}

.logo{
	height: 300px;
}